# Variables de entorno para desarrollo
HTTP_PORT=8080
HTTPS_PORT=3443

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=contraseña de base de datso
DB_NAME=mi_base_de_datos
DB_DIALECT=mysql

# JWT secret (reemplazar con uno propio)
JWT_SECRET=tu_secreto_aqui


